body{
    background: lightgray;
}
header{
    background: white;
    padding: 10px;
}
.feed{
    width:600px;
    margin:auto;
}
.post{
    background: white;
    margin-top: 40px;
}
.post-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.post-image img{
    width: 100%;
}
.post-description{
    padding: 10px;
}
